
((digest . "a93c2e5b6f3030c18f586069f1e3ce1b") (undo-list nil ("
" . 2253) ((marker . 2253) . -1) ((marker . 2253) . -1) ((marker . 2253) . -1) ((marker) . -1) nil ("</body>" . 2253) ((marker*) . 7) ((marker) . -1) ((marker*) . 1) ((marker) . -7) ((marker) . -7) nil ("
" . 1) ((marker) . -1) ((marker) . -1) ((marker) . -1) nil ("<body>" . 1) ((marker) . -1) ((marker) . -1) ((marker*) . 6) ((marker) . -1) ((marker*) . 1) ((marker) . -6) ((marker) . -6) (t 23027 3116 0 0)))
