
((digest . "c2db6b371297ad8c117519795a643125") (undo-list nil ("
" . 249) ((marker . 438) . -1) ((marker . 438) . -1) ((marker) . -1) nil ("      <!-- <li> -->" . 249) ((marker) . -19) (t 23032 29224 0 0) nil ("      <!-- <li> -->
        <%#= link_to \"受信ボックス\", static_pages_mailbox_path %>
      <!-- </li> -->
" . -536) ((marker . 516) . -28) ((marker) . -20) ((marker) . -20) ((marker) . -80) ((marker) . -80) ((marker) . -101) ((marker) . -101) ((marker . 516) . -28) ((marker . 516) . -28) ((marker . 249) . -101) ((marker . 249) . -101) ((marker . 516) . -19) ((marker . 516) . -19) ((marker) . -42) ((marker) . -48) ((marker) . -42) ((marker) . -48) ((marker) . -42) ((marker) . -48) ((marker) . -49) ((marker) . -50) ((marker) . -51) ((marker) . -76) ((marker) . -51) ((marker) . -76) ((marker) . -51) ((marker) . -76) ((marker) . -51) ((marker) . -76) ((marker . 516) . -100) ((marker . 516) . -54) ((marker . 516) . -19) ((marker) . -101) ((marker . 517) . -1) ((marker . 516) . -19) ((marker . 517) . -20) ((marker . 516) . -100) ((marker . 517) . -101) ((marker . 516) . -54) ((marker . 517) . -55) 637 (t 23032 27099 0 0) nil undo-tree-canary))
