
((digest . "70a4ef0d262e9455d35dec551c669f72") (undo-list nil ("
" . 488) ((marker) . -1) ((marker) . -1) ((marker . 488) . -1) ((marker . 488) . -1) ((marker) . -1) nil ("      </li>" . 488) ((marker) . -11) nil ("
" . 488) ((marker) . -1) ((marker) . -1) ((marker) . -1) nil ("        <%= link_to \"レシートを登録する\", receipt_input_path %>" . 488) ((marker) . -54) nil ("
" . 488) ((marker) . -1) ((marker) . -1) ((marker) . -1) nil ("      <li>" . 488) ((marker) . -10) (t 23041 17494 0 0) nil undo-tree-canary))
