
((digest . "704c740362f3cdc86e2d67765e7cd74a") (undo-list (273 . 274) nil (1 . 273) nil ("<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
" . 1) ((marker . 1) . -81) ((marker . 1) . -81) ((marker . 1) . -81) ((marker) . -26) ((marker) . -26) ((marker) . -1) ((marker) . -1) ((marker* . 272) . 81) ((marker . 273) . -1) ((marker* . 269) . 78) ((marker . 270) . -4) ((marker . 1) . -81) ((marker . 1) . -81) ((marker . 2) . -81) ((marker) . -81) (t 23012 1309 0 0)))
