
((digest . "a4f3a05ef537ab0359e89445b3c18ea6") (undo-list nil ("
" . 1) ((marker . 521) . -1) ((marker . 521) . -1) ((marker) . -1) nil ("<<<<<<< HEAD" . 1) ((marker) . -1) ((marker) . -1) ((marker) . -1) ((marker* . 1) . 12) ((marker . 2) . -1) ((marker) . -12) nil (">>>>>>> master" . 788) ((marker) . -14) nil ("
" . 788) ((marker) . -1) ((marker) . -1) ((marker) . -1) nil ("<p>Find me in app/views/users/new.html.erb</p>" . 788) ((marker* . 1) . 46) ((marker . 2) . -1) ((marker* . 32) . 44) ((marker . 33) . -3) ((marker) . -46) nil ("
" . 788) ((marker) . -1) ((marker) . -1) ((marker) . -1) nil ("<h1>Users#new</h1>" . 788) ((marker* . 1) . 18) ((marker . 2) . -1) ((marker* . 32) . 15) ((marker . 33) . -4) ((marker) . -18) nil ("
" . 788) ((marker) . -1) ((marker) . -1) ((marker) . -1) nil ("=======" . 788) ((marker) . -7) (t 23012 23214 0 0)))
