
((digest . "9bf7959bbc2a782b503127da452e729f") (undo-list nil (1 . 725) nil ("<h1>StaticPages#recipe</h1>
<p>Find me in app/views/static_pages/recipe.html.erb</p>
" . 1) ((marker . 1) . -85) ((marker . 1) . -85) ((marker . 1) . -85) ((marker) . -28) ((marker) . -28) ((marker) . -1) ((marker) . -1) ((marker*) . 85) ((marker) . -1) ((marker*) . 82) ((marker) . -4) ((marker . 1) . -85) ((marker . 1) . -85) ((marker . 2) . -85) ((marker) . -85) (t 23017 46006 0 0)))
