
((digest . "e5338118b2e4fa67ccb39adebfff5997") (undo-list nil ("            'http://rubyonrails.org/' %>" . 296) ((marker) . -40) nil ("
" . 296) ((marker) . -1) ((marker) . -1) ((marker) . -1) nil ("<%= link_to image_tag(\"rails.png\", alt: \"Rails logo\")," . 296) ((marker . 296) . -40) ((marker*) . 54) ((marker) . -1) ((marker) . -40) ((marker) . -41) ((marker) . -54) (t 23012 12263 0 0) nil (296 . 391) (t 23012 3991 0 0) nil ("            'http://rubyonrails.org/' %>" . 297) nil ("
" . 297) nil ("<%= link_to image_tag(\"rails.png\", alt: \"Rails logo\")," . 297) nil (1 . 392) nil ("<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href=\"https://railstutorial.jp/\">Ruby on Rails Tutorial</a>
  sample application.
</p>
" . 1) (t 23012 2031 0 0) nil (1 . 149) nil ("<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
" . 1) (t 23012 1342 0 0) nil (6 . 77) ("ample App</h1>
<p>
  This is the home page for the
  <a href=\"https://railstutorial.jp/\">Ruby on Rails Tutorial</a>
  sample application.
" . 6) (t 23012 1221 0 0) nil (148 . 149) nil (1 . 148) nil ("<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
" . 1) (t 23012 433 0 0)))
