
((digest . "04b330df9da5d807595c2544d365b555") (undo-list (496 . 497) nil (1 . 496) nil ("
" . 1) ((marker) . -1) nil ("<p>Find me in app/views/sessions/new.html.erb</p>" . 1) ((marker* . 495) . 49) ((marker . 496) . -1) ((marker* . 490) . 47) ((marker . 491) . -3) ((marker) . -49) nil ("
" . 1) ((marker) . -1) ((marker) . -1) ((marker) . -1) nil ("<h1>Sessions#new</h1>" . 1) ((marker) . -1) ((marker) . -1) ((marker* . 495) . 21) ((marker . 496) . -1) ((marker* . 490) . 18) ((marker . 491) . -4) ((marker) . -21) nil (1 . 73) nil ("
" . 1) ((marker . 1) . -1) nil ("<p>Find me in app/views/sessions/new.html.erb</p>" . 1) ((marker* . 495) . 49) ((marker . 496) . -1) ((marker* . 490) . 47) ((marker . 491) . -3) nil ("
" . 1) nil ("<h1>Sessions#new</h1>" . 1) ((marker* . 495) . 21) ((marker . 496) . -1) ((marker* . 490) . 18) ((marker . 491) . -4) (t 23013 49227 0 0)))
