[user]
	name = psato
	email = forhighlow@gmail.com
[color]
	ui = auto
[core]
	excludesfile = /Users/e155755/.gitignore_global
	editor = emacsclient -nw
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "github:"]
        InsteadOf = https://github.com/
        InsteadOf = git@github.com:
